[Unit]
Description=Omnivore Content Fetch Service
PartOf=omnivore.target
Requires=omnivore-api.service omnivore-redis.service garage.service
After=omnivore-api.service omnivore-redis.service garage.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=ghcr.io/omnivore-app/sh-content-fetch:latest

Secret=omnivore-s3-access-key,type=env,target=AWS_ACCESS_KEY_ID
Secret=omnivore-s3-secret-key,type=env,target=AWS_SECRET_ACCESS_KEY

Network=omnivore.network
NetworkAlias=content-fetch

Environment=USE_FIREFOX=true
Environment=VERIFICATION_TOKEN=omnivore_fetch_token
Environment=REST_BACKEND_ENDPOINT=http://omnivore-api:8080/api
Environment=REDIS_URL=redis://redis:6379/0
Environment=SKIP_UPLOAD_ORIGINAL=true

Environment=GCS_USE_LOCAL_HOST=true
Environment=GCS_UPLOAD_BUCKET=omnivore
Environment=AWS_REGION=garage
Environment=AWS_S3_ENDPOINT_URL=http://garage:3900

[Install]
WantedBy=omnivore.target
