[Unit]
Description=Omnivore Queue Processor
PartOf=omnivore.target
Requires=omnivore-api.service omnivore-redis.service
After=omnivore-api.service omnivore-redis.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=ghcr.io/omnivore-app/sh-queue-processor:latest

Secret=omnivore-postgres-password,type=env,target=PG_PASSWORD
Secret=omnivore-jwt-secret,type=env,target=JWT_SECRET
Secret=omnivore-minio-user,type=env,target=AWS_ACCESS_KEY_ID
Secret=omnivore-minio-password,type=env,target=AWS_SECRET_ACCESS_KEY

Network=omnivore.network

Environment=API_ENV=local
Environment=PG_HOST=postgres
Environment=PG_USER=app_user
Environment=PG_DB=omnivore
Environment=PG_PORT=5432
Environment=PG_POOL_MAX=20

Environment=REDIS_URL=redis://redis:6379/0

Environment=GCS_USE_LOCAL_HOST=true
Environment=GCS_UPLOAD_BUCKET=omnivore
Environment=AWS_REGION=us-east-1
Environment=AWS_S3_ENDPOINT_URL=http://minio:9000

Environment=CONTENT_FETCH_URL=http://content-fetch:8080/?token=omnivore_fetch_token
Environment=EXPORT_QUEUE_NAME=omnivore-backend-queue
Environment=GATEWAY_URL=http://omnivore-api:8080/api
Environment=CLIENT_URL=https://omnivore.{{domain}}

[Install]
WantedBy=omnivore.target
