[Unit]
Description=Omnivore Database Migration
After=postgres.service
Requires=postgres.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Type=oneshot
RemainAfterExit=yes

[Container]
Image=ghcr.io/omnivore-app/sh-migrate:latest

# postgres superuser auth
Secret=postgres-password,type=env,target=POSTGRES_PASSWORD
Secret=postgres-password,type=env,target=PGPASSWORD
# app_user password (used in CREATE USER)
Secret=omnivore-app-password,type=env,target=PG_PASSWORD

Network=omnivore.network

Exec=/bin/sh ./packages/db/setup.sh

Environment=POSTGRES_USER=postgres
Environment=PG_HOST=postgres
Environment=PG_DB=omnivore
Environment=PG_USER=app_user
Environment=PG_PORT=5432

[Install]
WantedBy=omnivore.target
