[Unit]
Description=Omnivore PostgreSQL with PGVector
PartOf=omnivore.target

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=docker.io/ankane/pgvector:v0.5.1

Secret=omnivore-postgres-password,type=env,target=POSTGRES_PASSWORD
Network=omnivore.network
NetworkAlias=postgres
Volume=omnivore-postgres-data.volume:/var/lib/postgresql/data
User=postgres

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=omnivore
Environment=PG_POOL_MAX=20

HealthCmd=pg_isready -U postgres
HealthInterval=3s
HealthTimeout=3s
HealthRetries=10

[Install]
WantedBy=omnivore.target
