[Unit]
Description=Omnivore Garage Bucket Creation
After=garage.service
Requires=garage.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Type=oneshot
RemainAfterExit=yes

[Container]
Image=docker.io/amazon/aws-cli:latest

Secret=omnivore-s3-access-key,type=env,target=AWS_ACCESS_KEY_ID
Secret=omnivore-s3-secret-key,type=env,target=AWS_SECRET_ACCESS_KEY

Network=omnivore.network
Entrypoint=/bin/sh

Environment=AWS_DEFAULT_REGION=garage

Exec=-c "sleep 10 && aws --endpoint-url http://garage:3900 s3 mb s3://omnivore || true"

[Install]
WantedBy=omnivore.target
