[Unit]
Description=Plane Database Migrator
PartOf=plane.target
Requires=postgres.service garage.service plane-redis.service
After=postgres.service garage.service plane-redis.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Type=oneshot
RemainAfterExit=yes

[Container]
Image=artifacts.plane.so/makeplane/plane-backend:stable

Secret=plane-secret-key,type=env,target=SECRET_KEY
Secret=plane-rabbitmq-password,type=env,target=RABBITMQ_DEFAULT_PASS
Secret=plane-s3-access-key,type=env,target=AWS_ACCESS_KEY_ID
Secret=plane-s3-secret-key,type=env,target=AWS_SECRET_ACCESS_KEY

Network=plane.network

Exec=./bin/docker-entrypoint-migrator.sh

Environment=PGHOST=postgres.{{domain}}
Environment=PGDATABASE=plane
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=plane
Environment=POSTGRES_PORT=5432
Secret=postgres-password,type=env,target=POSTGRES_PASSWORD

# Redis
Environment=REDIS_HOST=plane-redis
Environment=REDIS_PORT=6379
Environment=REDIS_URL=redis://plane-redis:6379/

Environment=RABBITMQ_HOST=plane-mq
Environment=RABBITMQ_PORT=5672
Environment=RABBITMQ_DEFAULT_USER=plane
Environment=RABBITMQ_DEFAULT_VHOST=plane
Environment=RABBITMQ_VHOST=plane

# Garage/S3
Environment=USE_MINIO=1
Environment=AWS_S3_ENDPOINT_URL=http://garage.{{domain}}:3900
Environment=AWS_S3_BUCKET_NAME=plane

[Install]
WantedBy=plane.target
