[Unit]
Description=Plane Admin Dashboard
PartOf=plane.target
After=plane-api.service plane-web.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=artifacts.plane.so/makeplane/plane-admin:stable
Network=plane.network
NetworkAlias=admin

# Dozzle group
Label=dev.dozzle.group=quadlet

[Install]
WantedBy=plane.target
