[Unit]
Description=Plane PostgreSQL Database
PartOf=plane.target

[Quadlet]
DefaultDependencies=false

[Service]
Restart=always

[Container]
Image=docker.io/postgres:15.7-alpine

Secret=plane-postgres-password,type=env,target=POSTGRES_PASSWORD
Network=plane.network
NetworkAlias=plane-db
Volume=plane-db-data.volume:/var/lib/postgresql/data

Exec=postgres -c 'max_connections=1000'

Environment=POSTGRES_USER=plane
Environment=POSTGRES_DB=plane
Environment=PGDATA=/var/lib/postgresql/data

HealthCmd=pg_isready -U plane
HealthInterval=3s
HealthTimeout=3s
HealthRetries=10

[Install]
WantedBy=plane.target
