[Unit]
Description=Plane Live (Real-time Collaboration)
PartOf=plane.target
After=plane-api.service plane-web.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=artifacts.plane.so/makeplane/plane-live:stable

Secret=plane-live-secret-key,type=env,target=LIVE_SENTRY_SECRET_KEY

Network=plane.network
NetworkAlias=live

Environment=API_BASE_URL=http://api:8000

# Redis
Environment=REDIS_HOST=plane-redis
Environment=REDIS_PORT=6379
Environment=REDIS_URL=redis://plane-redis:6379/

# Dozzle group
Label=dev.dozzle.group=quadlet

[Install]
WantedBy=plane.target
