[Unit]
Description=Plane Redis/Valkey Cache
PartOf=plane.target

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=docker.io/valkey/valkey:7.2.11-alpine
Network=plane.network
NetworkAlias=plane-redis
Volume=plane-redis-data.volume:/data

# Dozzle group
Label=dev.dozzle.group=quadlet

[Install]
WantedBy=plane.target
