[Unit]
Description=Plane API Server
PartOf=plane.target
Requires=postgres.service garage.service plane-redis.service plane-mq.service
After=postgres.service garage.service plane-redis.service plane-mq.service plane-migrator.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=artifacts.plane.so/makeplane/plane-backend:stable

Secret=plane-secret-key,type=env,target=SECRET_KEY
Secret=plane-rabbitmq-password,type=env,target=RABBITMQ_DEFAULT_PASS
Secret=plane-s3-access-key,type=env,target=AWS_ACCESS_KEY_ID
Secret=plane-s3-secret-key,type=env,target=AWS_SECRET_ACCESS_KEY

Network=plane.network
NetworkAlias=api

Exec=./bin/docker-entrypoint-api.sh

Environment=PGHOST=postgres
Environment=PGDATABASE=plane
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=plane
Environment=POSTGRES_PORT=5432
Secret=postgres-password,type=env,target=POSTGRES_PASSWORD

# Redis
Environment=REDIS_HOST=plane-redis
Environment=REDIS_PORT=6379
Environment=REDIS_URL=redis://plane-redis:6379/

Environment=RABBITMQ_HOST=plane-mq
Environment=RABBITMQ_PORT=5672
Environment=RABBITMQ_DEFAULT_USER=plane
Environment=RABBITMQ_DEFAULT_VHOST=plane
Environment=RABBITMQ_VHOST=plane

# Garage/S3
Environment=USE_MINIO=1
Environment=AWS_S3_ENDPOINT_URL=http://garage:3900
Environment=AWS_S3_BUCKET_NAME=plane
Environment=AWS_REGION=garage
Environment=FILE_SIZE_LIMIT=5242880

# Application
Environment=WEB_URL=https://plane.{{domain}}
Environment=CORS_ALLOWED_ORIGINS=https://plane.{{domain}}
Environment=DEBUG=0
Environment=GUNICORN_WORKERS=1
Environment=API_KEY_RATE_LIMIT=60/minute

# Dozzle group
Label=dev.dozzle.group=quadlet

[Install]
WantedBy=plane.target
