[Unit]
Description=SilverBullet - Personal Knowledge Management
After=traefik.service
Wants=traefik.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Environment=PUID=1000
Restart=always

[Container]
{{#if (command_success "timedatectl show -p Timezone --value")}}
Environment=TZ={{command_output "timedatectl show -p Timezone --value"}}
{{/if}}
NoNewPrivileges=true
Image=ghcr.io/silverbulletmd/silverbullet
Network=traefik.network

Volume=%D/silverbullet:/space

# Dozzle group
Label=dev.dozzle.group=quadlet

# Traefik labels
Label=traefik.enable=true
Label=traefik.docker.network=systemd-traefik

# HTTP -> HTTPS redirect
Label=traefik.http.routers.silverbullet-http.entrypoints=http
Label=traefik.http.routers.silverbullet-http.middlewares=redir-https@file
Label=traefik.http.routers.silverbullet-http.rule=Host(`silverbullet.{{domain}}`)
Label=traefik.http.routers.silverbullet-http.service=noop@internal

# HTTPS
Label=traefik.http.routers.silverbullet-https.entrypoints=https
Label=traefik.http.routers.silverbullet-https.tls=true
Label=traefik.http.routers.silverbullet-https.middlewares=gzip@file
Label=traefik.http.routers.silverbullet-https.rule=Host(`silverbullet.{{domain}}`)
Label=traefik.http.services.silverbullet.loadbalancer.server.port=3000

{{#if (contains autostart_services "silverbullet")}}
[Install]
WantedBy=default.target
{{/if}}
