[Unit]
Description=Langfuse Background Worker
PartOf=langfuse.target
Requires=postgres.service garage.service langfuse-redis.service langfuse-clickhouse.service
After=postgres.service garage.service langfuse-redis.service langfuse-clickhouse.service

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=docker.io/langfuse/langfuse-worker:3

Secret=langfuse-database-url,type=env,target=DATABASE_URL
Secret=langfuse-nextauth-secret,type=env,target=NEXTAUTH_SECRET
Secret=langfuse-salt,type=env,target=SALT
Secret=langfuse-encryption-key,type=env,target=ENCRYPTION_KEY
Secret=langfuse-redis-password,type=env,target=REDIS_AUTH
Secret=langfuse-clickhouse-password,type=env,target=CLICKHOUSE_PASSWORD
Secret=langfuse-s3-access-key,type=env,target=LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID
Secret=langfuse-s3-secret-key,type=env,target=LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY
Secret=langfuse-s3-access-key,type=env,target=LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID
Secret=langfuse-s3-secret-key,type=env,target=LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY
Secret=langfuse-s3-access-key,type=env,target=LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID
Secret=langfuse-s3-secret-key,type=env,target=LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY

Pull=newer
Network=langfuse.network

# Auth
Environment=NEXTAUTH_URL=http://localhost:3000

# Features
Environment=TELEMETRY_ENABLED=true
Environment=LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=true

# ClickHouse
Environment=CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
Environment=CLICKHOUSE_URL=http://clickhouse:8123
Environment=CLICKHOUSE_USER=clickhouse
Environment=CLICKHOUSE_CLUSTER_ENABLED=false

# Redis
Environment=REDIS_HOST=redis
Environment=REDIS_PORT=6379

# S3/Garage Event Upload
Environment=LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse
Environment=LANGFUSE_S3_EVENT_UPLOAD_REGION=garage
Environment=LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=http://garage.{{domain}}:3900
Environment=LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
Environment=LANGFUSE_S3_EVENT_UPLOAD_PREFIX=events/

# S3/Garage Media Upload
Environment=LANGFUSE_S3_MEDIA_UPLOAD_BUCKET=langfuse
Environment=LANGFUSE_S3_MEDIA_UPLOAD_REGION=garage
Environment=LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT=http://garage.{{domain}}:3900
Environment=LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE=true
Environment=LANGFUSE_S3_MEDIA_UPLOAD_PREFIX=media/

# S3/Garage Batch Export
Environment=LANGFUSE_S3_BATCH_EXPORT_ENABLED=false
Environment=LANGFUSE_S3_BATCH_EXPORT_BUCKET=langfuse
Environment=LANGFUSE_S3_BATCH_EXPORT_PREFIX=exports/
Environment=LANGFUSE_S3_BATCH_EXPORT_REGION=garage
Environment=LANGFUSE_S3_BATCH_EXPORT_ENDPOINT=http://garage.{{domain}}:3900
Environment=LANGFUSE_S3_BATCH_EXPORT_FORCE_PATH_STYLE=true

[Install]
WantedBy=langfuse.target
