[Unit]
Description=Langfuse Redis Cache
PartOf=langfuse.target

{{#if (command_success "uname -r | grep -qi wsl")}}
[Quadlet]
DefaultDependencies=false

{{/if}}
[Service]
Restart=always

[Container]
Image=docker.io/redis:7
Network=langfuse.network
NetworkAlias=redis
Secret=langfuse-redis-password,type=env,target=REDIS_PASSWORD

Exec=sh -c 'redis-server --requirepass "$REDIS_PASSWORD" --maxmemory-policy noeviction'

HealthCmd=redis-cli ping
HealthInterval=3s
HealthTimeout=10s
HealthRetries=10

# Dozzle group
Label=dev.dozzle.group=quadlet

[Install]
WantedBy=langfuse.target
